In [4]:
import pandas as pd
import numpy as np

import sidetable as stb

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import skew
from scipy.stats import kurtosistest
from scipy import stats

import pickle
import listas as lst

from datetime import datetime

In [5]:
df = pd.read_pickle("../data/bikes_predicciones.pkl")
df.sample()

,estacion,año,mes,festivo,dia_sem,laborable,prevision_tiempo,sensacion_termica,humedad,velocidad_viento
715,Otoño,2019,diciembre,0,martes,1,2,20.075,90.7083,6.583306

In [6]:
with open ("../data/robust_casual.pkl", "rb") as file:
    robust_casual = pickle.load(file)

In [7]:
with open ("../data/dt_casual_pred.pkl", "rb") as file:
    dt_casual_pred = pickle.load(file)

In [8]:
# creamos un diccionario con datos ficticios:

dicc_usuario = {'estacion': 'Verano', 'año': '2019', 'mes': 'septiembre', 'festivo': 0, 'dia_sem': 'domingo', 'laborable': 0,
                'prevision_tiempo': 1, 'sensacion_termica': 30.52440, 'humedad': 64.6667, 'velocidad_viento': 19.000061}

In [9]:
# creamos df

df_usuario = pd.DataFrame(dicc_usuario, index= [0])
lista_col = df_usuario.drop("festivo", axis = 1).columns

In [10]:
lst.lista_dict_casual

for dic, col in zip(lst.lista_dict_casual, lista_col):   
    
    df_usuario[col] = df_usuario[col].map(dic)

In [11]:
reemplazo = {"estacion": "estacion_map", "año": "año_map", "laborable":"laborable_map", "dia_sem": "dia_sem_map", "mes":"mes_map", "prevision_tiempo":"prevision_tiempo_map"}

In [12]:
df_usuario.rename(columns=reemplazo, inplace=True)

In [13]:
df_usuario

,estacion_map,año_map,mes_map,festivo,dia_sem_map,laborable_map,prevision_tiempo_map,sensacion_termica,humedad,velocidad_viento
0,1.5,0.5,2.5,0,0.5,1,2.0,30.5244,64.6667,19.000061

In [14]:
df_usuario = df_usuario.reindex(columns=['sensacion_termica', 'humedad', 'velocidad_viento', 'estacion_map',
       'año_map', 'mes_map', 'dia_sem_map', 'laborable_map',
       'prevision_tiempo_map', 'festivo'])

In [15]:
df_usuario

,sensacion_termica,humedad,velocidad_viento,estacion_map,año_map,mes_map,dia_sem_map,laborable_map,prevision_tiempo_map,festivo
0,30.5244,64.6667,19.000061,1.5,0.5,2.5,0.5,1,2.0,0

In [16]:
df_num = df_usuario[["sensacion_termica", "humedad", "velocidad_viento"]]

In [17]:
df_num

   sensacion_termica  humedad  velocidad_viento
0            30.5244  64.6667         19.000061

In [18]:
robust_casual.transform(df_num)

array([[0.45412707, 0.09651821, 1.04416759]])

In [19]:
dt_casual_pred.predict(df_usuario)

array([2201.83333333])

Comprobado con el dataFrame original, se alcanzaron 2512 alquileres casuales. Nuestra predicción calcula 2201 alquiler.
Hay una diferencia de 311 bicis. El modelo tenía un margen de error de 303

In [22]:
df = pd.read_pickle("../data/outliers_gestion.pkl")

In [24]:
df[df["sensacion_termica"] == 30.52440]

,fecha,estacion,año,mes,festivo,dia_sem,laborable,prevision_tiempo,sensacion_termica,humedad,velocidad_viento,alquiler_casual,alquiler_registrado,total_alquileres
629,2019-09-22,Verano,2019,septiembre,0,domingo,0,1,30.5244,64.6667,19.000061,2512,5883,8395