In [1]:
import pandas as pd
import numpy as np

Vamos a empezar a explorar:

In [10]:
uni = pd.read_csv("data/Preprocessed World University Rankings 2023 Dataset.csv")
uni.head()

,No of student,No of student per staff,International Student,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score,Female Ratio,Male Ratio,...,Location_United Kingdom,Location_United States,Location_Unknown Location,Location_Uruguay,Location_Uzbekistan,Location_Venezuela,Location_Vietnam,Location_Zambia,Location_Zimbabwe,University Rank
0,20965.0,10.6,0.42,92.3,99.7,99.0,74.9,96.2,48.0,52.0,...,1,0,0,0,0,0,0,0,0,1
1,21887.0,9.6,0.25,94.8,99.0,99.3,49.5,80.5,50.0,50.0,...,0,1,0,0,0,0,0,0,0,2
2,20185.0,11.3,0.39,90.9,99.5,97.0,54.2,95.8,47.0,53.0,...,1,0,0,0,0,0,0,0,0,3
3,16164.0,7.1,0.24,94.2,96.7,99.8,65.0,79.8,46.0,54.0,...,0,1,0,0,0,0,0,0,0,3
4,11415.0,8.2,0.33,90.7,93.6,99.8,90.9,89.3,40.0,60.0,...,0,1,0,0,0,0,0,0,0,5

In [11]:
uni.shape

(2341, 2362)

In [2]:
df = pd.read_csv("data/Sleep_health_and_lifestyle_dataset.csv")
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [3]:
df.shape

(374, 13)

In [4]:
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [7]:
df["Occupation"].value_counts()

Occupation
Nurse                   73
Doctor                  71
Engineer                63
Lawyer                  47
Teacher                 40
Accountant              37
Salesperson             32
Software Engineer        4
Scientist                4
Sales Representative     2
Manager                  1
Name: count, dtype: int64

In [8]:
df["BMI Category"].value_counts()

BMI Category
Normal           195
Overweight       148
Normal Weight     21
Obese             10
Name: count, dtype: int64

In [9]:
df["Gender"].value_counts()

Gender
Male      189
Female    185
Name: count, dtype: int64