In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/Chocolate/chocolate_bars.csv")
df.head()

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.0,"B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.0,"B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.0,"B,S,C","fatty, earthy, moss, nutty,chalky",3.00

In [3]:
df["bean_origin"].unique()

array(['Tanzania', 'Dominican Republic', 'Madagascar', 'Fiji',
       'Venezuela', 'Uganda', 'India', 'Bolivia', 'Peru', 'Panama',
       'Colombia', 'Burma', 'Brazil', 'Papua New Guinea', 'Ecuador',
       'Cuba', 'Togo', 'Sao Tome', 'Mexico', 'Vanuatu', 'Indonesia',
       'Trinidad', 'Vietnam', 'Nicaragua', 'Ghana', 'Belize', 'Blend',
       'Jamaica', 'Grenada', 'Guatemala', 'Honduras', 'Costa Rica',
       'Haiti', 'Congo', 'Philippines', 'Solomon Islands', 'Malaysia',
       'Sri Lanka', 'Ivory Coast', 'Gabon', 'Taiwan', 'Puerto Rico',
       'Martinique', 'St. Lucia', 'Australia', 'Liberia', 'Sierra Leone',
       'U.S.A.', 'Nigeria', 'St.Vincent-Grenadines', 'Thailand', 'Tobago',
       'Sao Tome & Principe', 'Sumatra', 'El Salvador', 'Cameroon',
       'Samoa', 'China', 'Principe', 'Sulawesi', 'Suriname', 'DR Congo'],
      dtype=object)

In [8]:
paises2 = {'Dominican Republic': 'República Dominicana', 'Panama': 'Panamá',
       'Burma': 'Myanmar', 'Brazil': 'Brasil', 'Papua New Guinea': 'Papúa Nueva Guinea','Sao Tome': 'Santo Tomé y Príncipe', 'Mexico': 'México',
       'Belize': 'Belice', 'Blend': 'Blend','Grenada':'Granada','Congo': 'República del Congo', 'Philippines': 'Filipinas', 'Solomon Islands': 'Islas Salomón', 'Malaysia': 'Malasia',
       'Ivory Coast': 'Costa de Marfil', 'Gabon': 'Gabón', 'Taiwan': 'Taiwán',
       'Martinique': 'Martinica', 'St. Lucia': 'Santa Lucía','Sierra Leone': 'Sierra Leona',
       'U.S.A.': 'Estados Unidos', 'St.Vincent-Grenadines': 'San Vicente y las Granadinas', 'Thailand': 'Tailandia',
       'Sao Tome & Principe': 'Santo Tomé y Príncipe','Cameroon': 'Camerún','Principe': 'Santo Tomé y Príncipe', 'Sulawesi': 'Sulawesi', 'Suriname': 'República de Surinam', 'DR Congo': 'República Democrática del Congo'}

In [9]:
paises = {'U.S.A.': 'Estados Unidos', 'France': 'Francia', 'Mexico': 'México', 'U.K.': 'Reiuno Unido',
       'Netherlands': 'Holanda', 'Spain': 'España', 'Russia': 'Rusia', 'Peru': 'Perú', 'Canada': 'Canadá', 'Italy': 'Italia',
       'Brazil': 'Baasil', 'Philippines': 'Filipinas', 'Wales': 'Gales',
       'Belgium': 'Bélgica', 'Germany': 'Alemania', 'Singapore': 'Singapur', 'Switzerland': 'Suiza',
       'Malaysia': 'Malasia', 'South Korea': 'Corea del Sur', 'Japan': 'Japón', 'New Zealand': 'Nueva Zelanda', 'Hungary': 'Hungría',
       'Scotland': 'Escocia', 'Martinique': 'Martinica', 'Sao Tome': 'Santo Tomé y Príncipe', 'St. Lucia': 'Santa Lucía',
       'South Africa': 'Sudáfrica', 'Dominican Republic': 'República Dominicana',
       'Sao Tome & Principe': 'Santo Tomé y Príncipe', 'Norway': 'Noruega', 'Denmark': 'Dinamarca',
       'Grenada': 'Granada', 'St.Vincent-Grenadines': 'San Vicente y las Granadinas',
       'Czech Republic': 'República Checa', 'Thailand': 'Tailandia', 'Finland': 'Finlandia', 'Sweden': 'Suecia',
       'Poland': 'Polonia', 'U.A.E.': 'Emiratos Árabes Unidos', 'Lithuania': 'Lituania', 'Ireland': 'Irlanda',
       'Iceland': 'Islandia'}

In [10]:
df['company_location'] = df['company_location'].replace(paises)

In [11]:
df.shape

(2530, 11)

In [12]:
df.isnull().sum()

id                   0
manufacturer         0
company_location     0
year_reviewed        0
bean_origin          0
bar_name             0
cocoa_percent        0
num_ingredients     87
ingredients         87
review               0
rating               0
dtype: int64

In [13]:
8700/2530

3.438735177865613

In [14]:
df[df["num_ingredients"].isnull()]

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating
85,1964,Amazing Cacao,Rusia,2017,Peru,Maranon,70.0,NaN,NaN,"raisins, pungent",3.00
86,1964,Amazing Cacao,Rusia,2017,Peru,Platan Bajo,70.0,NaN,NaN,"few grits, blackcherry, licorice",3.50
164,486,Artisan du Chocolat,Reiuno Unido,2010,Venezuela,Venezuela,100.0,NaN,NaN,"very nutty, very bitter",1.75
293,81,Bonnat,Francia,2006,Blend,One Hundred,100.0,NaN,NaN,"acidic, bitter, dry",1.50
323,341,Bouga Cacao (Tulicorp),Ecuador,2009,Ecuador,"El Oro, Hacienda de Oro",100.0,NaN,NaN,"cardboard, very bitter, floral",1.50
...,...,...,...,...,...,...,...,...,...,...,...
2424,153,Vintage Plantations (Tulicorp),Estados Unidos,2007,Ecuador,"Los Rios, Rancho Grande 2004/2007",100.0,NaN,NaN,"bland, mild fruit, strong bitter",2.00
2425,153,Vintage Plantations (Tulicorp),Estados Unidos,2007,Ecuador,"Los Rios, Rancho Grande 2004/2007",90.0,NaN,NaN,"some fruit, strong bitter",2.00
2426,153,Vintage Plantations (Tulicorp),Estados Unidos,2007,Ecuador,"Los Rios, Rancho Grande 2004/2007",75.0,NaN,NaN,"cocoa,earthy,very astringent",3.00
2447,733,Whittakers,Nueva Zelanda,2011,Ghana,Ghana,72.0,NaN,NaN,"sticky, dry, vanilla dominates",2.50
2457,1109,Willie's Cacao,Reiuno Unido,2013,Indonesia,"Java, Indonesian Black",100.0,NaN,NaN,"fruit, strong smoke, bitter",2.25

In [15]:
df.dtypes

id                    int64
manufacturer         object
company_location     object
year_reviewed         int64
bean_origin          object
bar_name             object
cocoa_percent       float64
num_ingredients     float64
ingredients          object
review               object
rating              float64
dtype: object

In [16]:
df = df.assign(name_distinct= df["bar_name"]+" - "+ df["cocoa_percent"].astype(str)+"%")
df.head(2)

,id,manufacturer,company_location,year_reviewed,bean_origin,bar_name,cocoa_percent,num_ingredients,ingredients,review,rating,name_distinct
0,2454,5150,Estados Unidos,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.0,"B,S,C","rich cocoa, fatty, bready",3.25,"Kokoa Kamili, batch 1 - 76.0%"
1,2458,5150,Estados Unidos,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.0,"B,S,C","cocoa, vegetal, savory",3.50,"Zorzal, batch 1 - 76.0%"

In [17]:
df.duplicated().sum()

0

In [18]:
review = df[["name_distinct", "review"]]
review.head(2)

                   name_distinct                     review
0  Kokoa Kamili, batch 1 - 76.0%  rich cocoa, fatty, bready
1        Zorzal, batch 1 - 76.0%     cocoa, vegetal, savory

In [ ]:
review["review"] = review["review"].str.split(",")

In [20]:
review = review.explode(["review"])
review.head()

                   name_distinct      review
0  Kokoa Kamili, batch 1 - 76.0%  rich cocoa
0  Kokoa Kamili, batch 1 - 76.0%       fatty
0  Kokoa Kamili, batch 1 - 76.0%      bready
1        Zorzal, batch 1 - 76.0%       cocoa
1        Zorzal, batch 1 - 76.0%     vegetal

In [21]:
review["review"].count()

7065

In [22]:
review.isnull().sum()

name_distinct    0
review           0
dtype: int64

In [23]:
ingredients = df[["name_distinct", "ingredients"]]
ingredients["ingredients"] = ingredients["ingredients"].str.split(",")
ingredients = ingredients.explode(["ingredients"])
ingredients.head(2)

C:\Users\anais\AppData\Local\Temp\ipykernel_2792\1385297608.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ingredients["ingredients"] = ingredients["ingredients"].str.split(",")

                   name_distinct ingredients
0  Kokoa Kamili, batch 1 - 76.0%           B
0  Kokoa Kamili, batch 1 - 76.0%           S

In [24]:
ingred = {"B": "Grano de cacao", "S*": "Edulcorante", "S": "Azúcar", "C": "Manteca de cacao", "V": "Vainilla", "L": "Lecitina", "Sa": "Sal"}

ingredients["ingredients"] = ingredients["ingredients"].map(ingred)
ingredients.head(2)

                   name_distinct     ingredients
0  Kokoa Kamili, batch 1 - 76.0%  Grano de cacao
0  Kokoa Kamili, batch 1 - 76.0%          Azúcar

In [25]:
ingredients.isnull().sum()

name_distinct     0
ingredients      87
dtype: int64

In [26]:
ingredients.dropna(inplace= True)

In [27]:
df.drop(["review", "ingredients"], axis = 1, inplace= True)

In [28]:
ingredients.isnull().sum()

name_distinct    0
ingredients      0
dtype: int64

In [29]:
review.to_csv('data/Chocolate/review.csv', index= False)
ingredients.to_csv('data/Chocolate/ingredients.csv', index= False)
df.to_csv('data/Chocolate/chocolate_bars_clean.csv', index= False)